<div class="container">
    <div *ngFor="let parentData of childArray">
        <div class="card" style="width: 18rem;" (click)="getChildNodes(parentData._id)">
            <div class="card-body">
                <div class="top">
                    <h5 class="card-title">{{parentData.factory_name}}</h5>
                    <!-- <p class="card-text"><span>{{percentage}}%</span>complete</p> -->
                </div>
                <div class="middle-block">
                    <div class="middle">
                        <p class="card-text">Total Sales - {{parentData.total_sales}} Crore<br/>
                        Target Sales - {{parentData.target_sales}} Crore</p>
                    </div>
                    <div class="middle-bottom">
                        <p class="card-text">{{parentData.track_status}}</p>
                    </div>
                </div>
                <div class="bottom-block">
    
                </div>
            </div>
        </div>
    </div>
</div>
<app-child *ngIf="flag" [childId]="childId"></app-child>

